{% extends 'staff/base.html' %}
{% block title %}Analytics{% endblock title %}
{% block body %}








<div class="flex-row row-responsive" style="width: 100%; height: 100%;">

    <!-- CHART MAIN -->
    <div class="flex-object" style="flex-grow: 1;">
        <div class="fnt-med" id="mainChart-heading" style="color: grey;">Last Week Sales</div><br>
        <canvas class="responsive-chart" id="mainChart"></canvas>
    </div>
    <hr>
    <div class="flex-object fnt-med">
        <div class="fnt-med" id="mainChart-heading" style="color: grey;">Analytics:</div>
        <br>
        <div id="small-charts-container" style="overflow-y: auto; height: 440px;">

            <div class="anaylitics-object" onclick="setMainChart(chart_totalSales)">
                <div class="small-chart-label">Last Week Sales</div>
                <canvas class="small-chart active" id="chart-totalSales" width="200" height="190"></canvas>
            </div>
            <div class="anaylitics-object" onclick="setMainChart(chart_expenses)">
                <div class="small-chart-label">Total Expenses</div>
                <canvas class="small-chart" id="chart-expenses" width="200" height="190"></canvas>
            </div>
            <div class="anaylitics-object" onclick="setMainChart(chart_mostOrdered)">
                <div class="small-chart-label">Most Ordered Product</div>
                <canvas class="small-chart" id="chart-mostOrdered" width="200" height="190"></canvas>
            </div>

        </div>

    </div>


</div>




<script>

    // MAIN CHART

    var mainCanvas = document.getElementById('mainChart').getContext('2d');
    var mainChart = new Chart(mainCanvas, {
        type: 'line',
        data: {
            labels: {{ LAST_WEEK_SALES| safe}}[0],
                datasets: [{
                    label: 'Daily Income',
                    data: {{ LAST_WEEK_SALES| safe}}[1],
                    backgroundColor: ['skyblue'],
                    borderColor: [
                    'skyblue',
                ],
                    borderWidth: 3
            }]
        },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
    });

    // ------------------------------------------------
    // Init the Canvases

    let canvas_totalSales = document.getElementById('chart-totalSales').getContext('2d');
    let canvas_expenses = document.getElementById('chart-expenses').getContext('2d');
    let canvas_mostOrdered = document.getElementById('chart-mostOrdered').getContext('2d');

    // TOTAL SALES

    let chart_totalSales = new Chart(canvas_totalSales, {
        type: 'line',
        data: {
            labels: {{ LAST_WEEK_SALES| safe}}[0],
                datasets: [{
                    label: 'Daily Income',
                    data: {{ LAST_WEEK_SALES| safe}}[1],
                    backgroundColor: ['skyblue'],
                    borderColor: [
                    'skyblue',
                ],
                    borderWidth: 3
            }]
        },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
    });



    // EXPENSES

    let chart_expenses = new Chart(canvas_expenses, {
        type: 'bar',
        data: {
            labels: {{ LAST_WEEK_EXPENSES| safe}}[0],
            datasets: [{
                label: 'Daily Expenses',
                data: {{ LAST_WEEK_EXPENSES| safe}}[1],
                backgroundColor: ['yellow']
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });



    let chart_mostOrdered = new Chart(canvas_mostOrdered, {
        type: 'pie',
        data: {
            labels: {{ MOST_ORDERED_PRODUCTS|safe}}[0],
                datasets: [{
                    label: 'Most Selling',
                    data: {{ MOST_ORDERED_PRODUCTS|safe}}[1],
                    backgroundColor: ['skyblue', 'tomato', 'chartreuse', 'yellow', 'green', 'peach', 'red'],
                    borderWidth: 0
            }]
        },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
    });









    function setMainChart(sourceChart) {
        mainChart.data.labels = sourceChart.data.labels;
        mainChart.data.datasets[0].data = sourceChart.data.datasets[0].data;

        mainChart.config.type = sourceChart.config.type;

        mainChart.data.datasets[0].backgroundColor = sourceChart.data.datasets[0].backgroundColor;
        mainChart.data.datasets[0].borderColor[0] = sourceChart.data.datasets[0].backgroundColor;
        mainChart.data.datasets[0].borderColor[0] = sourceChart.data.datasets[0].backgroundColor;
        mainChart.data.datasets[0].label = sourceChart.data.datasets[0].label;


        document.getElementsByClassName('active')[0].classList.remove('active');
        sourceChart.canvas.classList.add('active');




        mainChart.update();

    }

</script>









<script>
    if ("{{CURRENT_PAGE}}" == "analytics") {
        document.getElementById('{{CURRENT_PAGE}}-hotbar').classList.add('hotbar-active');
    }
</script>

{% endblock body %}