<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Kidey *STAFF* - {% block title %}{% endblock title %}</title>



</head>

<body>
    {% if user.is_staff %}

    <!-- USER IS LOGGED IN -->
    <div id="main_header">
        <div class="inner">

            <div class="logo">
                <div>
                    <span class="fnt-big">KIDEY</span>
                    <span class="fnt-med" style="color: grey;">Staff Panel</span>
                </div>
            </div>

            <div id="logged_in_as" onclick="location.href='/staff/logout'">
                Logout <span style="color: #808080;">({{user.first_name}})</span>
            </div>


        </div>
    </div>


    <div id="body-flex-container">

        <div id="hotbar-container">
            <div id="hotbar">

                <div id="home-hotbar" class="hotbar-slot" onclick="location.href='/staff/'">
                    <img src="https://img.icons8.com/material/96/ffffff/dashboard-layout.png" />
                    Dashboard
                </div>

                <div id="products-hotbar" class="hotbar-slot" onclick="location.href='/staff/products'">
                    <img src="https://img.icons8.com/wired/64/ffffff/hamburger.png" />
                    Products
                </div>

                <div id="analytics-hotbar" class="hotbar-slot" onclick="location.href='/staff/analytics'">
                    <img src="https://img.icons8.com/material-outlined/96/ffffff/web-analystics.png" />
                    Analytics
                </div>

                <div id="orders-hotbar" class="hotbar-slot" onclick="location.href='/staff/orders'">
                    <img src="https://img.icons8.com/wired/64/ffffff/deliver-food.png" />
                    Orders
                </div>

                <div id="money-hotbar" class="hotbar-slot" onclick="location.href='/staff/money'">
                    <img src="https://img.icons8.com/wired/64/ffffff/rupee.png" />
                    Money
                </div>

            </div>
        </div>

        <!-- IMPLANTED BODY -->
        <div id="implanted_body">
            {% block body %}
            {% endblock body %}
        </div>

    </div>

    <style>

    </style>

    {% else %}
    <!-- USER IS NOT LOGGED IN OR NOT STAFF -->

    <form action="login" method="POST">
        {% csrf_token %}
        <div style="align-items: center; text-align: center; padding-top: 50px;">
            <h1>KIDEY<br> Staff Panel</h1><br><br>
            <input class="input-classic" name="username" autocomplete="off" type="text" placeholder="Username"><br>
            <input class="input-classic" name="password" autocomplete="off" type="password" placeholder="Password"><br>
            <br><br>
            <button class="" style="font-size: 15px; font-weight: 800;" type="submit">Login</button>

        </div>
    </form>

    {% endif %}
</body>

{% block postdoc_script %}
{% endblock postdoc_script %}

</html>