{% extends 'staff/base.html' %}
{% block title %}Home{% endblock title %}
{% block body %}


<!-- <h1>AMARE NA BOLLE KI KORE KI6U DEBO EKHANE? 🙂</h1> -->
<div class="flex-row row-responsive" style="width: 100%; height: 100%;">

    <!-- CHART MAIN -->
    <div class="flex-object" id="mainboard" style="flex-grow: 1;">
    
        

        <div class="flex-container">
            <div class="column">
                <!-- Content for the first column -->
                <div class="dash" id="upcoming_orders" style="flex-grow: 2;">
                    <div class="heading">Upcoming Orders</div>
                    <div class="scroll_content">
                        <div>Poltu Da - </div>
                    </div>
                </div>
                
                
            </div>
            <div class="column">
                <!-- Content for the second column -->
                ?!
            </div>
        </div>

    </div>
    <hr>

    <!-- SIDE(INSTA) BOARD -->
    <div class="flex-object" id="sideboard">
        {% csrf_token %}

        <div class="sideboard-object" id="customer_panel">

            <div style="margin-bottom: 5px; font-weight: 900;" class="fnt-small">Customers</div>
            {% for customer in CUSTOMERS %}
            <div class="cutomer-holder" id="customer-{{customer.id}}">
                <div class="edit-customer-panel">
                    <button type="button" id="cutomer-{{customer.id}}-btn=edit"
                        onclick="editCustomer({{customer.id}})"><img
                            src="https://img.icons8.com/material-outlined/48/ffffff/edit--v1.png" /></button>
                    <button type="button" id="cutomer-{{customer.id}}-btn=save" onclick="saveCustomer({{customer.id}})"
                        style="display: none;"><img
                            src="https://img.icons8.com/material-rounded/50/ffffff/save.png" /></button>
                    <button type="button" id="cutomer-{{customer.id}}-btn=delete"
                        onclick="deleteCustomer({{customer.id}})"><img
                            src="https://img.icons8.com/material-outlined/24/fa314a/delete-trash.png"></button>
                </div>
                <input class="input-tabbed-editable" name="customer-{{customer.id}}-name"
                    style="color: #fff7f0; font-size: 18px;" type="text" placeholder="Name" value="{{customer.name}}"
                    disabled><br>
                <input class="input-tabbed-editable" name="customer-{{customer.id}}-phone" style="color: #fff7f0;"
                    type="number" placeholder="Phone" value="{{customer.phone_no}}" disabled><br>
                <input class="input-tabbed-editable" name="customer-{{customer.id}}-address" style="color: #fff7f0;"
                    type="text" placeholder="Address" value="{{customer.address}}" disabled><br>
            </div>
            {% endfor %}

            <!-- SCRIPT - CUSTOMERs -->
            <script>
                let csrftoken = document.getElementsByName('csrfmiddlewaretoken')[0].value;

                function editCustomer(cid) {
                    // console.log('customer-'+String(cid)+'name');
                    document.getElementsByName('customer-' + String(cid) + '-name')[0].disabled = false;
                    document.getElementsByName('customer-' + String(cid) + '-phone')[0].disabled = false;
                    document.getElementsByName('customer-' + String(cid) + '-address')[0].disabled = false;

                    // BUTTON UI Fix
                    document.getElementById('cutomer-' + String(cid) + '-btn=edit').style.display = 'none';
                    document.getElementById('cutomer-' + String(cid) + '-btn=save').style.display = 'inline-block';
                }

                function saveCustomer(cid) {
                    // console.log(cid);
                    let name_node = document.getElementsByName('customer-' + String(cid) + '-name')[0];
                    let phone_node = document.getElementsByName('customer-' + String(cid) + '-phone')[0];
                    let address_node = document.getElementsByName('customer-' + String(cid) + '-address')[0];

                    let name = name_node.value;
                    let phone_no = phone_node.value;
                    let address = address_node.value;


                    // Talk to the Server

                    let form = new FormData();
                    form.set('cid', String(cid));
                    form.set('name', name);
                    form.set('phone_no', phone_no);
                    form.set('address', address);

                    fetch(`editCustomer`,
                        {
                            method: 'POST',
                            body: form,
                            headers: {
                                'Accept': 'multipart/form-data, application/json, text/plain, */*',
                                "X-CSRFToken": csrftoken
                            },
                        })
                        .then(response => response.json())
                        .then(data => {
                            console.log(data);
                            if (data["ERROR"] == null) {
                                // CHANGE HTML

                                // BUTTON UI Fix
                                document.getElementById('cutomer-' + String(cid) + '-btn=save').style.display = 'none';
                                document.getElementById('cutomer-' + String(cid) + '-btn=edit').style.display = 'inline-block';

                                name_node.disabled = true;
                                phone_node.disabled = true;
                                address_node.disabled = true;

                            }
                        });

                }

                function deleteCustomer(cid) {
                    // console.log(cid);
                    if (!confirm('Are you sure you want to delete Customer: '+String(cid)+'?')) {
                        return null; // Do nothing!
                    }
                    let form = new FormData();
                    form.set('cid', String(cid));

                    fetch(`deleteCustomer`, {
                        method: 'POST',
                        body: form,
                        headers: {
                            'Accept': 'multipart/form-data, application/json, text/plain, */*',
                            "X-CSRFToken": csrftoken
                        },
                    })
                        .then(response => response.json())
                        .then(data => {
                            console.log(data);

                            if (data['STATUS'] == 'SUCCESS'){
                                // REMOVE FROM HTML
                                document.getElementById('customer-'+String(cid)).remove();
                            }

                        });



                }
            </script>


        </div>

        <!--
        <div class="sideboard-object" id="customer_panel">

            <div class="fnt-small">Monthly Expense</div>

            

        </div> -->

    </div>

    

</div>


<style>
    .flex-container {
        display: flex;
        height: 95%;
    }
    
    .column {
        flex-grow: 1;
        padding: 20px;
        height: 100%;
        margin: 10px;
        background-color: #252525; /* Set the background color for the first column */
        border-radius: 5px;
        display: flex;
        flex-direction: column;
    }

    .column .dash:hover{
        background-color: black;

    }
    .column .dash{
        padding: 5px;
        margin: 2px;
        background-color: rgba(32, 32, 32, 0.445);
    }
    .column .dash .heading{
        font-size: 2rem;
        border-bottom: 1px solid cyan;
    }


    /* For Phones */
    @media only screen and (max-device-width: 640px) {

        #mainboard{
            overflow-y: auto;
        }

        .flex-container {
            flex-direction: column;
            height: 100vh;
        }
    }

</style>


<script>
    if ("{{CURRENT_PAGE}}" == "home") {
        document.getElementById('{{CURRENT_PAGE}}-hotbar').classList.add('hotbar-active');
    }

</script>

{% endblock body %}