{% extends 'staff/base.html' %}
{% block title %}Economy Manager{% endblock title %}
{% block body %}


<div class="flex-row row-responsive" style="width: 100%; height: 100%;">

    <div class="flex-object" style="flex-grow: 1;">
        <div class="fnt-med" style="color: #aaaaaa">Total Money in Cash</div><br>
        <div class="fnt-extra-xxx" id="big_money">{{TOTAL_MONEY}}/-</div>
        <div class="flex-row">
            <h3>Cash: <span id="cash_money">{{CASH}}/-</span></h3>
            <h3>Online: <span id="online_money">{{ONLINE}}/-</span></h3>
        </div>
        <!-- <div class="fnt-extra-xxx" id="big_money">{{ONLINE.value}}/-</div> -->

        <div id="withdraw-money-container">
            <div class="fnt-med" style="color: #aaaaaa">Withdraw Money:</div>

            <form action="withdrawMoney" method="post">{% csrf_token %}
                <input type="text" class="input-classic" name="withdraw_name" placeholder="Name of withdrawer" required
                    autocomplete="off">
                <input type="number" class="input-classic" name="withdraw_amt" placeholder="Amount Withdrawn" required
                    autocomplete="off">
                <input type="checkbox" class="" name="is_online" placeholder="" autocomplete="off"> Is Online
                <input type="text" class="input-classic" name="withdraw_summary" placeholder="Summary" required
                    autocomplete="off">
                <input type="datetime-local" class="input-classic" name="widthdraw_time"
                    placeholder="Time Of Widthdrawl" required autocomplete="off">
                <br><br>
                <button style="font-size: 20px; color: green;" type="submit">Widthdraw</button>
            </form>

        </div>

    </div>

    <hr>
    <div class="flex-object">
        <div class="fnt-med" style="color: #aaaaaa; right: 0;">Expenses</div><br>
        {% csrf_token %}
        {% for expense in EXPENSES %}
        <div class="existing-product existing-expense" id="expense-{{expense.id}}">
            <div style="display: flex;">
                <div id="" class="fnt-x-small" style="flex-grow: 1; font-size: 20px;">{{expense|safe}}</div>
                <br>
            </div>
            <!-- EXPENSE DETAILS -->
            <div class="expense-details">
                <span style="font-weight:600; color: skyblue;">{{expense.withdrawer}}</span> - {{expense.summary}}
                <div></div>

                <button type="button" id="cutomer-{{customer.id}}-btn=delete"
                    onclick="deleteExpense({{expense.id}})"><img
                        src="https://img.icons8.com/material-outlined/24/fa314a/delete-trash.png"></button>
            </div>
        </div>

        {% endfor %}


    </div>
    <script>
        function deleteExpense(expense_id) {
            let csrftoken = document.getElementsByName('csrfmiddlewaretoken')[0].value;

            if (!confirm('Are you sure you want to delete Expense: ' + String(expense_id) + '?')) {
                return null; // Do nothing!
            }
            let form = new FormData();
            form.set('expense_id', String(expense_id));

            fetch(`deleteExpense`, {
                method: 'POST',
                body: form,
                headers: {
                    'Accept': 'multipart/form-data, application/json, text/plain, */*',
                    "X-CSRFToken": csrftoken
                },
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data);

                    if (data['STATUS'] == 'SUCCESS') {
                        // REMOVE FROM HTML
                        document.getElementById('expense-' + String(expense_id)).remove();
                    }

                });
        }
    </script>




</div>

<style>
    .flex-row span {
        font-weight: 600;
        font-size: 2rem;
    }

    .flex-row h3 {
        background-color: #1f1f1f;
        border-radius: 5px;
        margin: 10px;
        padding: 10px;
        flex-grow: 1;
        color: white;
        font-weight: 100;
    }

    #cash_money {
        color: lime;
    }

    #online_money {
        color: cyan;
    }
</style>



<script>
    if ("{{CURRENT_PAGE}}" == "money") {
        document.getElementById('{{CURRENT_PAGE}}-hotbar').classList.add('hotbar-active');
    }

</script>
{% endblock body %}