{% extends 'staff/base.html' %}
{% block title %}Orders{% endblock title %}
{% block body %}





<div class="flex-row row-responsive" style="width: 100%; height: 100%;">

    <div class="flex-object" id="addproduct_container" style="flex-grow: 1;">
        <div id="addaproduct" class="fnt-med">Create Order Instance</div>

        <div id="add-product-container">

            <script>let orderJson = {}; let totalBill = 0; let discount = 0;</script>

            <form action="/staff/add-order" method="POST">
                {% csrf_token %}

                <div class="flex-row row-responsive">

                    <div class="flex-object">

                        <input class="input-classic" name="customer_name" type="text"
                            onchange="fetchCustomer(this.value, 'name')" placeholder="Customer Name" autocomplete="off"
                            required>
                        <input class="input-classic" name="customer_phone_no" type="number"
                            onchange="fetchCustomer(this.value, 'phone_no')" placeholder="Customer Phone"
                            autocomplete="off" required>

                        <input class="input-classic" name="customer_address" value="" type="text" placeholder="Address"
                            autocomplete="off">

                        <br>Time Of Order:
                        <input class="input-classic" name="time_of_order" type="datetime-local"
                            placeholder="Time Of Order" autocomplete="off" required>
                        <br>Time Of Delivery:
                        <input class="input-classic" name="time_of_delivery" type="datetime-local"
                            placeholder="Time Of Delivery" autocomplete="off" required><br>
                        <br>
                        <input class="input-classic" style="width: 100px; background-color: #101010;" name="total_bill"
                            type="number" placeholder="Total Bill" autocomplete="off" disabled>-
                        <input class="input-classic" style="width: 100px;" onchange="addDiscount(Number(this.value));"
                            name="discount" type="number" placeholder="Discount" autocomplete="off">
                        <input class="input-classic" style="width: 90px; background-color: #101010;" name="payable_amt"
                            type="number" placeholder="Payable ₹" autocomplete="off" disabled required>

                    </div>

                    <input type="hidden" name="order_json" value="">



                    <!-- PRODUCT LIST -->

                    <div class="flex-object" style="width: 200px;">
                        <div class="fnt-med">Product List</div>

                        <div id="product_list">
                            <script>let products = {};</script>
                            {% for product in EXISTING_PRODUCTS %}
                            <div id="product-{{product.id}}" class="product_list-product">

                                {{product.name}} <br>

                                <span style=" font-weight: 800;">₹{{product.price}}/-</span>
                                <div class="productcounter-container">
                                    <span onclick="countProduct('{{product.id}}', 'add')" class="add-product">+</span>
                                    <span id="product-counter-{{product.id}}" class="counter-product">0</span>
                                    <span onclick="countProduct('{{product.id}}', 'substract')"
                                        class="add-product">-</span>
                                </div>

                            </div>

                            <script>products["{{product.id}}"] = {{ product.price }};</script>

                            {% endfor %}

                        </div>

                    </div>

                    <script>

                        function countProduct(product_id, operation) {
                            let count = Number(document.getElementById('product-counter-' + product_id).textContent);
                            if (operation == 'add') count++;
                            else { if (count != 0) count--; }

                            document.getElementById('product-counter-' + product_id).textContent = count;

                            // CHANGE CSS
                            if (count == 0) {
                                document.getElementById('product-' + product_id).classList.remove('non-zero-product');
                            } else document.getElementById('product-' + product_id).classList.add('non-zero-product');

                            if (count == 0) delete orderJson[product_id]; else orderJson[product_id] = count;

                            evaluateBill();




                        }

                        function evaluateBill() {
                            totalBill = 0;
                            for (let product in orderJson) {
                                let money = products[product] * orderJson[product];
                                totalBill += money;
                                // console.log(totalBill);
                            }

                            if (Object.keys(orderJson).length == 0) { totalBill = 0; document.getElementById('createbutton').disabled = true; }
                            else { document.getElementById('createbutton').disabled = false; }


                            // CHANGE HTML
                            document.getElementsByName('total_bill')[0].value = totalBill;
                            document.getElementsByName('payable_amt')[0].value = totalBill - discount;

                            document.getElementsByName('order_json')[0].value = JSON.stringify(orderJson);
                        }

                        function addDiscount(d) {
                            discount = d; evaluateBill();
                        }

                        let csrftoken = document.getElementsByName('csrfmiddlewaretoken')[0].value;
                        function fetchCustomer(data, datatype) {
                            // console.log(data, datatype);

                            let form = new FormData();
                            form.set('data', data);
                            form.set('datatype', datatype);

                            fetch(`fetchCustomer`,
                                {
                                    method: 'POST',
                                    body: form,
                                    headers: {
                                        'Accept': 'multipart/form-data, application/json, text/plain, */*',
                                        "X-CSRFToken": csrftoken
                                    },
                                })
                                .then(response => response.json())
                                .then(data => {

                                    if (data["ERROR"] == null) {
                                        // CHANGE HTML
                                        document.getElementsByName('customer_name')[0].value = data["MATCHING_CUSTOMER"]["Name"];
                                        document.getElementsByName('customer_phone_no')[0].value = data["MATCHING_CUSTOMER"]["Phone"];
                                        document.getElementsByName('customer_address')[0].value = data["MATCHING_CUSTOMER"]["Address"];
                                    }
                                });

                        }

                    </script>

                </div>


                <br><br>
                <button disabled class="big-button" id="createbutton" type="submit"
                    style="font-size: 18px;">Create</button>


            </form>

        </div>

    </div>
    <hr>

    <!-- EXISTING ORDERS -->

    <div class="flex-object" id="exisitingproductsflexbox">
        <div class="fnt-med">Existing Orders</div>

        <br>

        <div id="existing-products-container" style="height: 90%; overflow-y:auto;">

            {% for order in EXISTING_ORDERS %}
            <div class="existing-product" onclick="showOrder('{{order.id}}')" id="order-{{order.id}}">
                <div style="display: flex;">
                    <div id="{{product.id}}-name" class="fnt-x-small" style="flex-grow: 1;">{{order.customer}}
                    </div>


                    <!-- <div class="edit-button" onclick="">del</div> -->
                </div>
                <div style="display: flex; margin: 2px; padding: 5px; padding-bottom:0;">
                    <div id="{{product.id}}-price" style="flex-grow: 1; color: skyblue; font-weight: 900;">
                        ₹{{order.payable_amt}}</div>
                    <div id="{{product.id}}-price" style="padding: 0px 5px;">{{order.time_of_delivery}}</div>

                </div>
            </div>
            {% endfor %}

        </div>



    </div>



</div>


<div id="show-order">
    <div style="float: right; font-weight: 900; padding: 5px; user-select: none; color: red; background-color: black; border-radius: 5px;"
        onclick="document.getElementById('show-order').style.visibility = 'hidden';">X</div>
    <div style="margin-right: 5px;float: right; font-weight: 900; padding: 5px; user-select: none; color: red; background-color: black; border-radius: 5px;"
        onclick="document.getElementById('confirm_delete').style.visibility = 'visible';"><img style="width: 15px;" src="https://img.icons8.com/material-outlined/24/fa314a/delete-trash.png">
    </div>


    <span class="label-classic">Customer Name:&nbsp;</span>
    <div style="color: white;" class="label-classic" id="order-customer_name"></div>
    <br><span class="label-classic">Phone No.:&nbsp; </span>
    <div style="color: white;" class="label-classic" id="order-phone_no"></div>
    <br><span class="label-classic">Address: &nbsp;</span>
    <div style="color: white;" class="label-classic" id="order-address"></div>
    <br><span class="label-classic">Time Of Order: &nbsp;</span>
    <div style="color: white;" class="label-classic" id="order-time_of_order"></div>
    <br><span class="label-classic">Time Of Delivery: &nbsp;</span>
    <div style="color: white;" class="label-classic" id="order-time_of_delivery"></div>
    <br><span class="label-classic">Order:&nbsp; </span><br>
    <div style="color: white;" class="label-classic" id="order-bill_text"></div><br><br>
    <div style="color: green; font-size: 25px;" class="label-classic" id="order-money"></div>
    <br><br>
    <button id="paid-" name="paid_button" style="font-size: 20px; color: green;" onclick="markOrderAsPaid(this.id.replace('paid-', ''))" type="button">Mark as Paid</button>

    <div id="confirm_delete" style="float: right; margin: 5px; visibility: hidden;">
        <form action="/staff/delete-order" method="POST">{% csrf_token %}
            <input type="hidden" name="order-id" value="">
            <button style="font-size: 20px; color: red;" type="submit">Confirm Delete</button>
            <button style="font-size: 20px; color: green;" onclick="document.getElementById('confirm_delete').style.visibility = 'hidden';" type="button">Cancel</button>
        </form>
    </div>

</div>


<script>
    function showOrder(order_id) {

        // fetchOrder

        let form = new FormData();
        form.set('order_id', order_id);
        fetch(`fetchOrder`,
            {
                method: 'POST',
                body: form,
                headers: {
                    'Accept': 'multipart/form-data, application/json, text/plain, */*',
                    "X-CSRFToken": csrftoken
                },
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                if (data["ERROR"] == null) {
                    // CHANGE HTML
                    document.getElementById('show-order').style.visibility = 'visible';

                    document.getElementById('order-customer_name').textContent = data["ORDER"]["NAME"];
                    document.getElementById('order-phone_no').textContent = data["ORDER"]["PHONE"];
                    document.getElementById('order-address').textContent = data["ORDER"]["ADDRESS"];
                    document.getElementById('order-bill_text').innerHTML = data["ORDER"]["BILL_TEXT"].replaceAll('/-', '/-<br>');
                    document.getElementById('order-time_of_order').textContent = data["ORDER"]["TIME_OF_ORDER"];
                    document.getElementById('order-time_of_delivery').textContent = data["ORDER"]["TIME_OF_DELIVERY"];
                    document.getElementById('order-money').innerHTML = data["ORDER"]["MONEY"];
                    document.getElementsByName('order-id')[0].value = order_id;
                    let paidbtn = document.getElementsByName('paid_button')[0];

                    paidbtn.id = 'paid-'+order_id

                    let paid = data["ORDER"]["PAID"];
                    if(paid){
                        paidbtn.disabled = true;
                        paidbtn.textContent = "Paid";
                        paidbtn.style.color = 'green';
                    }else{
                        paidbtn.disabled = false;
                        paidbtn.style.color = '#00FF00';
                        paidbtn.textContent = "Mark as Paid";
                        
                    }

                }
            });
    }

    function markOrderAsPaid(order_id){
        console.log(order_id);
        let form = new FormData();
        form.set('order_id', order_id);
        fetch(`markOrderPaid`,
            {
                method: 'POST',
                body: form,
                headers: {
                    'Accept': 'multipart/form-data, application/json, text/plain, */*',
                    "X-CSRFToken": csrftoken
                },
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                if(data["ERROR"] == null){
                    document.getElementsByName('paid_button')[0].disabled = true;
                    document.getElementsByName('paid_button')[0].textContent = "Paid";
                    document.getElementsByName('paid_button')[0].style.color = 'green';
                }
            });
    }

</script>





<script>
    if ("{{CURRENT_PAGE}}" == "orders") {
        document.getElementById('{{CURRENT_PAGE}}-hotbar').classList.add('hotbar-active');
    }

</script>
{% endblock body %}