{% extends 'staff/base.html' %}
{% block title %}Orders{% endblock title %}
{% block body %}





<div class="flex-row row-responsive" style="width: 100%; height: 100%;">

    <div class="flex-object" id="addproduct_container" style="flex-grow: 1;">
        <div id="addaproduct" class="fnt-med">Create Order Instance</div>
        
        <div id="add-product-container">

            <form action="/staff/add-product" method="POST">
                {% csrf_token %}

                <input class="input-classic" name="customer_name" type="text" placeholder="Customer Name" autocomplete="off" required>
                <input class="input-classic" name="customer_phone_no" type="tel" placeholder="Customer Phone" autocomplete="off" required maxlength="10">
                <br>Time Of Order:
                <input class="input-classic" name="time_of_order" type="datetime-local" placeholder="Time Of Order" autocomplete="off" required>
                <br>Time Of Delivery:
                <input class="input-classic" name="time_of_delivery" type="datetime-local" placeholder="Time Of Delivery" autocomplete="off" required><br>
                <br>
                <input class="input-classic" style="width: 100px;" name="total_bill" type="number" placeholder="Total Bill" autocomplete="off" required>-
                <input class="input-classic" style="width: 100px;" name="discount" type="number" placeholder="Discount" autocomplete="off" required>
                <input class="input-classic" style="width: 120px; background-color: #101010;" type="number" placeholder="Payable Amount" autocomplete="off" disabled>

                



                
                <br><br>
                <button class="big-button" id="createbutton" type="button" style="font-size: 18px;">Create</button>
                
                
            </form>
                
        </div>

    </div>
    <hr>

    <!-- EXISTING PRODUCTS -->

    <div class="flex-object" id="exisitingproductsflexbox">
        <div class="fnt-med">Existing Orders</div>

        <br>

        <div id="existing-products-container" style="height: 90%; overflow-y:auto;">

            {% for orders in EXISTING_ORDERS %}
            <div class="existing-product">
                <div style="display: flex;">
                    <div id="{{product.id}}-name" class="fnt-small" style="flex-grow: 1;"><b>{{order.customer}}</b></div>
                    

                    <div class="edit-button" onclick="">Edit</div>
                </div>
                <div style="display: flex; margin: 2px; padding: 5px; padding-bottom:0;">
                    <div id="{{product.id}}-price" style="flex-grow: 1;">₹{{product.price}}/-</div>
                    
                </div>
            </div>
            {% endfor %}

        </div>



    </div>

   

</div>









<script>
    if("{{CURRENT_PAGE}}" == "orders"){
        document.getElementById('{{CURRENT_PAGE}}-hotbar').classList.add('hotbar-active');
    }

</script>
{% endblock body %}
