* {
    color: aliceblue;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
    height: 85vh;
}

button {
    background-color: #202020;
    border-radius: 5px;
    padding: 5px;
}

#main_header {
    width: 100vw;
    height: 80px;
    background-color: #101010;
}

#main_header .inner {
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

#main_header .logo {
    display: table;
    height: 100%;
    float: left;
}

#main_header .logo div {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

/* TEXT DECOR */

.italic {
    font-style: italic;
}

.underline {
    font-style: underline;
}

.fnt-extra-xxx{
    font-size: 220px;
}

.fnt-xx-big {
    font-size: 80px;
}

.fnt-x-big {
    font-size: 50px;
}

.fnt-big {
    font-size: 40px;
}

.fnt-med {
    font-size: 30px;
}

.fnt-small {
    font-size: 20px;
}

.fnt-x-small {
    font-size: 15px;
}

.fnt-xx-small {
    font-size: 10px;
}

#logged_in_as {
    transition: 0.2s;
    float: right;
    margin: 30px;
    font-size: 15px;
    padding: 2px;
    user-select: none;
    border-radius: 5px;
    background-color: #202020;
}

#logged_in_as:hover {
    background-color: #ff00005b;
}

#implanted_body {
    flex-grow: 1;
    /* background-color: rebeccapurple; */
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    overflow: auto;
}

#body-flex-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

#hotbar-container {
    width: 70px;
    /* background-color: #305001; */
}

#hotbar {
    /* background-color: brown; */
    user-select: none;
    height: 80%;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#hotbar .hotbar-slot {
    z-index: 10;
    transition: 0.2s;
    user-select: none;
    background: #101010;
    margin: 5px;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    font-size: 10px;
    padding: 2px;
}

.hotbar-slot img {
    transition: 0.2s;
    width: 50px;
    padding: 5px;
}

.hotbar-slot:hover img {
    width: 55px;
    padding: 2px;
}

#hotbar .hotbar-slot:hover {
    background: #202020;
    font-size: 13px;
    width: 65px;
}

.hotbar-active {
    font-size: 13px !important;
    background: #202020 !important;
    width: 65px;
}

.hotbar-active img {
    width: 55px;
    padding: 2px;
}

.input-classic {
    padding: 10px;
    margin: 5px;
    background-color: #202020;
    width: 190px;
    outline: none;
    border-radius: 5px;
    border: none;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.flex-column-reverse {
    display: flex;
    flex-direction: column-reverse;
}

.flex-grow div {
    flex-grow: 1;
}

.flex-object {
    margin: 5px;
    padding: 10px;
}

.existing-product {
    user-select: none;
    padding: 3px;
    border-radius: 5px;
    background-color: #202020;
    transition: 0.2s;
    margin: 5px 0;
}

.existing-product:hover {
    background-color: #303030;
    padding: 7px 5px;
}

.edit-button {
    padding: 3px;
    border-radius: 3px;
    font-size: 15px;
    background-color: skyblue;
    color: black;
    display: inline-block;
}

.big-button:hover {
    background: #62c6ee;
}

.big-button {
    transition: 0.2s;
    padding: 10px 15px;
    margin: 5px;
    font-size: 20px;
    background: skyblue;
    border-radius: 5px;
    display: inline-block;
    user-select: none;
    color: black;
}

#add-product-container {
    padding: 10px;
}

#exisitingproductsflexbox {
    width: 240px;
}

.delete_confirmation {
    padding: 5px;
    background-color: #303030;
    border-radius: 5px;
    visibility: hidden;
    position: absolute;
    right: 5px;
    top: 50%;
    font-size: 25px;
    box-shadow: 2px 2px 3px black;
}

#product_list:hover {
    background-color: #404040;
}

#product_list {
    transition: 0.2s;
    height: 250px;
    overflow-y: auto;
    background-color: #303030;
    padding: 10px;
    border-radius: 5px;
}

.product_list-product {
    margin: 5px 0px;
    padding: 3px;
    background-color: #212121;
    border-radius: 5px;
    color: grey;
}

.productcounter-container {
    display: flex;
    user-select: none;
}

.productcounter-container span {
    flex-grow: 1;
    text-align: center;
    font-weight: 900;
}

.add-product {
    margin: 0px 2px;
    padding: 0 3px;
    background-color: #89cfeb80;
    color: black;
    transition: 0.2s;
    border-radius: 5px;
}

.add-product:hover {
    border-radius: 3px;
    background-color: #89cfeb;
}
.counter-product{
    color: grey;
}
.non-zero-product span{color: black;}
.non-zero-product .add-product{box-shadow: 1px 1px 3px black;}

.non-zero-product{
    margin: 5px 0px;
    padding: 3px;
    background-color: #6cfa49;
    border-radius: 5px;
    color: black;
}

.label-classic {
    font-size: 20px;
    line-height: 30px;
    color: grey;
    display: inline-block;
}

#show-order {
    overflow-y: auto;
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 30px 30px 5px #30303075;
    padding: 10px;
    margin: 20px;
    background-color: #131313;
    border: 3px solid skyblue;
    width: 60vw;
    border-radius: 5px;
    height: 60vh;
}

#big_money{
    font-weight: 900;
}
.existing-expense{
    transition: 0.2s;
}
.expense-details{
    display: none;
}
.existing-expense:hover .expense-details{
    display: block;

}

/* For Phones */

@media only screen and (max-device-width: 640px) {
    body {
        height: 83vh;
    }
    .fnt-extra-xxx{
        font-size: 70px;
    }
    .fnt-xx-big {
        font-size: 60px;
    }
    .fnt-x-big {
        font-size: 40px;
    }
    .fnt-big {
        font-size: 30px;
    }
    .fnt-med {
        font-size: 20px;
    }
    .fnt-small {
        font-size: 18px;
    }
    .fnt-x-small {
        font-size: 15px;
    }
    .fnt-x-small {
        font-size: 10px;
    }
    #logged_in_as {
        position: absolute;
        right: 10px;
        top: 60px;
        margin: 3px;
        font-size: 13px;
    }
    #body-flex-container {
        flex-direction: column-reverse;
    }
    #hotbar-container {
        width: 100%;
    }
    #hotbar {
        /* background-color: brown; */
        height: 100%;
        margin: 0;
        height: 50px;
        flex-direction: row;
    }
    #hotbar .hotbar-slot {
        margin: 5px;
        height: 50px;
        width: 100%;
        text-align: center;
        border-radius: 5px;
        margin-bottom: 0;
    }
    .hotbar-slot img {
        transition: 0.2s;
        width: 30px;
        padding: 3px;
    }
    .hotbar-slot:hover img {
        width: 33px;
        padding: 1px;
    }
    .row-responsive {
        flex-direction: column;
    }
    #add-product-container {
        padding: 10px 0 !important;
    }
    #exisitingproductsflexbox {
        width: 90%;
    }
}

/* SCROLLBAR */

/* width */

::-webkit-scrollbar {
    width: 7px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #303030;
    border-radius: 5px;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}